@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  font-family: 'Roboto', sans-serif;
}

html, body {
  max-width: 100%;
  height: 100%;
}

div#app {
  height: 100%;
}